<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drc.firstcode">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".s02.s21Activity"
            android:label="s21Activity" />
        <activity
            android:name=".s02.s22Activity"
            android:label="s22Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN2" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.drc.test.MAIN2" />
            </intent-filter>
        </activity>
        <activity
            android:name=".s02.s23Activity"
            android:label="s23Activity" />
        <activity
            android:name=".s02.s24Activity"
            android:label="s24Activity" />

        <activity
            android:name=".s03.s31Activity"
            android:label="s31Activity"></activity>
    </application>

</manifest>